@page "/RoomAllotment/{RoomAllotmentID}"
@using ACS.Data
@using ACS.Helpers
@using ACS.ViewModels




<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bill-heading">
            <h2>@_Title</h2>
            <hr />
        </div>
    </div>

</div>
<div class="row">

     <div class="col-md-6">
        <div class="form-group">
            <label>Room No *</label>
            <input type="text" class="form-control" placeholder="Room No" data-errors="Please Enter Room No." required @bind-value=Model.RoomNo>
            <div class="help-block with-errors"></div>
        </div>
        </div>
    <div class="col-md-6">

        <div class="form-group">
             <label>Party *</label>
            <RadzenDropDown AllowClear="true" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" Class="w-100"
                              @bind-Value=Model.PartyID Placeholder="Party Name" Data=@parties TextProperty="PartyName" ValueProperty="PartyID" />
            <div class="help-block with-errors"></div>
        </div>
    </div>
   

    
  
</div>
<div class="row">

      <div class="col-md-6">
        <div class="form-group">
            <label>Monthly Rent *</label>
            <input type="text" class="form-control" data-errors="Please Enter Rent." required @bind-value=Model.MonthlyRent>
            <div class="help-block with-errors"></div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Date *</label>
            <input type="date" class="form-control" data-errors="Please Enter Date." required @bind-value=Model.StartDate>
            <div class="help-block with-errors"></div>
        </div>

    </div>
  
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@Create" Text="Save" Style="width: 120px" ButtonStyle="ButtonStyle.Secondary" />
        <RadzenButton Click="@((args) => dialogService.Close(null))" ButtonStyle="ButtonStyle.Danger" Text="Cancel" Style="width: 120px" Class="mr-1" />
    </div>
</div>


@inject RoomAllotmentManagerService _service;

@inject Radzen.DialogService dialogService
@inject NotificationHelper NotifyHelper

@code {
    private string _Title = "Room Allotment";

    [Parameter] public string RoomAllotmentID { get; set; }

    private List<PartyView> parties;
    private RoomAllotmentView Model = new RoomAllotmentView(){StartDate = DateTime.UtcNow.AddHours(5)};

    protected override void OnInitialized()
    {
        parties = _service.GetAllParties();
        
        if (RoomAllotmentID != "0")
        {
            Model = _service.GetById(Convert.ToInt32(RoomAllotmentID));

            if (Model == null)
            {
                // Error Message
            }

        }
       
    }


    async Task Create()
    {
        try
        {
            if (RoomAllotmentID != "0")
            {
                Model = await _service.UpdateRoomAllotment(Model);
            }
            else
            {
                Model = await _service.AddRoomAllotment(Model);
            }

            if (Model.RoomAllotmentID != 0)
            {
                NotifyHelper.Message(NotificationSeverity.Success, _Title, $"{_Title} Successfully Added .");
                dialogService.Close(Model);
            }
            else
            {
                NotifyHelper.Message(NotificationSeverity.Error, _Title, $"Error While Saving {_Title}.");
            }
        }
        catch (Exception ex)
        {
            NotifyHelper.Message(NotificationSeverity.Error, _Title, $"Error While Saving {_Title}.");
        }

    }
}


