@page "/Invoice"

    <section class="good-rec-reports">
      <div class="container">
        <div class="good_rec_main">
        <div class="row">
           
                <div class="col-sm-6 col-xs-12 col-md-6">
                    <div class="good-heading">
                    <h1>Invoice</h1>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12 col-md-6">
                   <div class="invoice-table-print">
                 <img src="images/printer.png">
                    <img src="images/exel.png">

                   </div>       
                </div>

               
           </div>
           <hr>
           <div class="costmer-info">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="cst-details">
                      <h3>Customer Info</h3>
                      <p>Name </p>
                      <p>Date </p>
                      <p>Artical </p>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="cst-invoice">
                      <h3>Invoice No</h3>
                      <input type="search">

                    </div>
                </div>
                
              <div class="col-xs-12 col-sm-12 col-sm-12">
                  <div class="cst-table" >
                <table style="width:100%">
                  <tr>
                    <th>Date</th>
                    <th>Gr No</th> 
                    <th class="for-width">Descripition</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    <td>2022-08-08</td>
                    <td>5082</td>
                    <td></td>
                    <td>5080 PKR</td>
                    
                  </tr>
                  <tr>
                    <td>2022-08-08</td>
                    <td>2154</td>
                    <td></td>
                    <td>2154</td>
                  </tr>
                  <tr>
                    <td>2022-08-08</td>
                    <td>8080</td>
                    <td></td>
                    <td>8080</td>
                  </tr>
                  <tr>
                    <td>2022-08-08</td>
                    <td>2154</td>
                    <td></td>
                    <td>2154</td>
                  </tr>
                  <tr>
                    <td>2022-08-08</td>
                    <td>8080</td>
                    <td></td>
                    <td>8080</td>
                  </tr>
                </table>
              </div>
              </div>

              </div>
           </div>


        </div>

        <div class="signatur">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" >
                <div class="sign">
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label">Signature: </label>
                    </div>
                    <div class="col-auto for-signature">
                      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"> 
                    </div>
                  </div>
                </div>
            </div> 
            <div class="col-md-6 col-sm-6 col-xs-12">
                
              <div class="col-xs-12 col-sm-12 col-sm-12">
                <div class="dic-table" >
              <table style="width:100%">
               
                <tr class="tr-purple"> 
                  <td>Discount</td>
                  <td>0.00 PKR</td>
                  
                  
                </tr>
                <tr class="gray">
                  <td>Grand Total</td>
                  <td>89.000 PKR</td>
                  
                </tr>
                <tr class="tr-purple">
                  <td>Paid</td>
                  <td>0.00 PKR</td>
                 
                </tr>
                <tr class="gray">
                  <td>Due</td>
                  <td>0.00 PKR</td>
                 
                </tr>
              </table>
            </div>
            </div>
            </div>

          </div>

        </div>



      </div>
    </section>
