@page "/GoodReceiveReports"

    <section class="good-rec-reports">
      <div class="container">
        <div class="good_rec_main">
          <div class="row">
            <div class="col-sm-6 col-xs-12 col-md-6">
              <div class="good-heading">
                <h1>Good Receivable Reports</h1>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12 col-md-3">
              <div class="good-date">
                <input type="date" />
              </div>
            </div>

            <div class="col-sm-3 col-xs-12 col-md-3">
              <div class="good-search">
                <input type="search" placeholder=" Search" />
              </div>
            </div>
          </div>
          <hr />
        </div>

        <div class="good-rec-table">
          <div class="row">
            <div class="table-print">
              <img src="images/printer.png" />
              <img src="images/exel.png" />
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12">
              <div class="table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Gr NO</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Due</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td>partial</td>
                  </tr>
               
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td class="yellow-text">partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td>partial</td>
                  </tr>
             
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td class="yellow-text">partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td>partial</td>
                  </tr>
                
                  
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td class="yellow-text">partial</td>
                  </tr>
              
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td>partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,0</td>
                    <td>0.0</td>
                    <td>2022-08-08</td>
                    <td class="yellow-text">partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td>partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td class="yellow-text">partial</td>
                  </tr>
              
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td>partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td class="yellow-text">partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td>partial</td>
                  </tr>
               
              
                  <tr>
                    <td>4574</td>
                    <td>1547</td>
                    <td>Lorem</td>
                    <td>54,000</td>
                    <td>54,000</td>
                    <td>0.0</td>
                    <td>22-8-8</td>
                    <td class="yellow-text">partial</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
