@page "/StockKeeper"

  <section class="bill-details">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="bill-heading">
              <h2>Stock Report</h2>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="bill-icon">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
             <input type="search" placeholder="Search">
            </div>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-12"></div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="bill-icon">
              <a href="#"><img src="images/icon-1.png" alt="img here"></a>
              <a href="#"><img src="images/icon-2.png" alt="img here"></a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="generate-table">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table">
              <thead>
                <tr id="bot">
                  <th scope="col">Gr No</th>
                  <th scope="col">Item Stock In</th>
                  <th scope="col">item Stock Out</th>
                  <th scope="col">Remaining Items</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>1547</td>
                  <td>10</td>
                  <td>08</td>
                  <td>02 </td>
                 
                </tr>
              </tbody>
            </table>

           
          </div>
        </div>
      </div>
    </section>
