@page "/Size/{SizeID}"
@using ACS.Data
@using ACS.Helpers
@using ACS.ViewModels
 
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bill-heading">
            <h2>@_Title</h2>
            <hr />
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label>Size *</label>
            <input type="text" class="form-control" placeholder="Size" data-errors="Please Enter Size." required @bind-value=Model.Name>
            <div class="help-block with-errors"></div>
        </div>
    </div>
  
  
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@Create" Text="Save" Style="width: 120px" ButtonStyle="ButtonStyle.Secondary" />
        <RadzenButton Click="@((args) => dialogService.Close(null))" ButtonStyle="ButtonStyle.Danger" Text="Cancel" Style="width: 120px" Class="mr-1" />
    </div>
</div>


@inject SizeManagerService _service;

@inject Radzen.DialogService dialogService
@inject NotificationHelper NotifyHelper

@code {
    private string _Title = "Size";
    

    [Parameter] public string SizeID { get; set; }

    protected override void OnInitialized()
    {
        if (SizeID != "0")
        {
            Model = _service.GetById(Convert.ToInt32(SizeID));

            if (Model == null)
            {
                // Error Message
            }

        }
    }

    private SizeView Model = new SizeView();
    async Task Create()
    {
        try
        {
            if (SizeID != "0")
            {
                Model = await _service.UpdateSize(Model);
            }
            else
            {
                Model = await _service.AddSize(Model);
            }

            if (Model.SizeID != 0)
            {
                NotifyHelper.Message(NotificationSeverity.Success, _Title, $"{_Title} Successfully Added .");
                dialogService.Close(Model);
            }
            else
            {
                NotifyHelper.Message(NotificationSeverity.Error, _Title, $"Error While Saving {_Title}.");
            }
        }
        catch (Exception ex)
        {
            NotifyHelper.Message(NotificationSeverity.Error, _Title, $"Error While Saving {_Title}.");
        }

    }
}
