@page "/EmployeeAttendanceTwo"


    <section class="bill-details">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="bill-heading">
                        <h2>Employee Attadance</h2>
                    </div>
                </div>

            </div>
            <div class="top_bott">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12 centerCol">
                        <div class="employee_text new_emp">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="date" placeholder="Date">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                   <div class="new_post">
                                    <input type="search" placeholder="search"><i class="fa-solid fa-magnifying-glass"></i>
                                   </div>

                                </div>
                       
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="table_button">
                            @*<div class="button_save">
                                <a href="#">Save</a>
                            </div>*@
                            <button class="btn btn-primary emp_att_two_btn">Save</button>
                            <div class="bill-icon new_bill">
                                <a href="#"><img src="images/icon-1.png" alt="img here"></a>
                                <a href="#"><img src="images/icon-2.png" alt="img here"></a>
                            </div>
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="generate-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <thead>
                            <tr id="bot">
                                <th scope="col">ID</th>
                                <th scope="col">Employee Id </th>
                                <th scope="col">Attendance Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2358</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>4574</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>2022-07-29</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>10:10AM</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>


                            </tr>
                        </tbody>
                        <tbody class="presnt_absent">
                            <tr>
                                <td>Present</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>2022-8-08</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>

                                <td>02 </td>

                            </tr>
                        </tbody>


                    </table>


                </div>
            </div>
        </div>
    </section>