@page "/EmployeeAttendance"

    <section class="bill-details">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="bill-heading">
                        <h2>Employee Attandance</h2>
                    </div>
                </div>

            </div>
            <div class="top_bott">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="employee_text">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="date" placeholder="Date">
                                </div>
                               @* <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" placeholder="Employee">

                                </div>*@

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                   <div class="new_post">
                                    <input type="search" placeholder="search"><i class="fa-solid fa-magnifying-glass"></i>
                                   </div>

                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label class="con_1">Is present
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="bill-icon new_bill">
                            <a href="#"><img src="images/icon-1.png" alt="img here"></a>
                            <a href="#"><img src="images/icon-2.png" alt="img here"></a>
                        </div>
                        @*<div class="button_save adv">
                            <a href="#">Save</a>
                        </div>*@
                        <button class="btn btn-primary emp_att_btn">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="generate-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <thead>
                            <tr id="bot">
                                <th scope="col">ID</th>
                                <th scope="col">Employee Id </th>
                                <th scope="col">Attendance Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>2358</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>4574</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>2022-07-29</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>10:10AM</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>


                            </tr>
                        </tbody>
                        <tbody class="presnt_absent">
                            <tr>
                                <td>Present</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>
                                <td>02 </td>

                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>2022-8-08</td>
                                <td>10</td>
                                <td>08</td>
                                <td>02 </td>

                                <td>02 </td>

                            </tr>
                        </tbody>


                    </table>


                </div>
            </div>
        </div>
    </section>
